
<% if user_signed_in? %>
    <%= link_to "New Article",
                new_article_path,
                class: "btn btn-default btn-lg",
                id: "new-article-btn" %>
<% end %>


<% if @articles.empty? %>
    <h1 id="no-articles">No Articles Created</h1>
<% else %>
    <% @articles.each do |article| %>
        <div class="well well-lg article-detail">
          <div class="article-title">
            <%= link_to article.title, article_path(article) %>
          </div>
          <div class="article-body">
            <%= sanitize(article.body) %>
          </div>

          <div class="author">
            <small>Created by: <%= article.user.try(:email) %></small>
          </div>
        </div>
    <% end %>
<% end %>