<!DOCTYPE html>
<html>
  <head>
    <title>Sharksdontsleeptonight</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<%= render 'share/header' %>
  <%= render 'share/main' %>
  </body>
</html>
